body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../RESOURCES/BKG.png);
	background-repeat: no-repeat;
}

p {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	line-height: 25px;
	text-align: justify;
	margin: 25px;
}
h1 {
	font-family: "tox Typewriter";
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
	text-align: left;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	font-weight: bolder;
	color: #FFF;
	text-align: center;
}

#container{
	height: auto;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	
	
	}

#header {
	height: 267px;
	width: 960px;
	float: left;
}

#nav {
	float: left;
	height: 98px;
	width: 960px;
	text-align: center;
}

#nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
 }

#nav ul li {
	margin: 0px;
	text-decoration: none;
	text-align: center;
}

#nav ul li a {
	display: block;
	float: left;
	height: 98px;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	font-size: 31px;
	color: #FFF;
	line-height: 98px;
	clip: rect(auto,auto,auto,auto);
	}
#nav ul li a:hover {
	text-decoration: underline;
	text-align: center;
}

#article {
	height: auto;
	width: 960px;
	float: left;
	text-align: center;
	background-image: url(../RESOURCES/bk_article.jpg);
	background-repeat: repeat-y;
}
#photos {
	float: right;
	height: 200px;
	width: 200px;
	margin-top: -400px;
	margin-right: 40px;
	border: medium inset #000;
}

#photos2 {
	float: right;
	height: 200px;
	width: 200px;
	border: medium inset #000;
	margin-right: 40px;
	margin-bottom: 50px;
	margin-top: -160px;
}

#footer {
	height: auto;
	width: 959px;
	clear: both;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

#redes {
	margin-right: auto;
	margin-left: auto;
	height: 75px;
	width: 268px;
}

#fac {
	float: left;
	height: 75px;
	width: 75px;
}

#mail {
	height: 75px;
	width: 75px;
	margin-right: auto;
	margin-left: auto;
	float: right;
}
#bkg {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: -100;
	left: 0px;
	top: 0px;
	min-height: 100%;
	min-width: 1040px;
}
